{{#if user}}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary ">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">GAME STORE </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{user.name}}
          </button>
          {{/if}}
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {{#if user}}
            <li><a class="dropdown-item" href="/logout">Logout </a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>