<section>
  <div class="container mt-5">
    <div class="row">
      {{#each products}}
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{{this.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>